<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <%- include('./partials/nav.ejs')%>
    <h1>Your request has been sumbited.<a href="/counter/<%=rent._id%>"> Click here to active renting</a></h1>

    <%- include('./partials/footer.ejs')%>
</body>
</html>