<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>

    <body>
        <%- include('./partials/nav.ejs')%>
            <div class="content">
                <div id="counter">
                    <h1>Renting timer</h1>
                    <div class="counter">
                        <div class="time">
                            <h2 id="hours">00</h2>
                            <small>Hours</small>
                        </div>
                        <div class="time">
                            <h2 id="minutes">00</h2>
                            <small>Minutes</small>
                        </div>
                        <div class="time">
                            <h2 id="seconds">00</h2>
                            <small>Seconds</small>
                        </div>
                    </div>
                    <button type="button" id="start-button">START</button>
                </div>
                <div id="show" style="display: none;">
                    <h1 id="total"><%= rent.price%></h1>
                    
                </div>
                
            </div>
            <%- include('./partials/footer.ejs')%>
                <script type="text/javascript" src="/counter.js"></script>
                
    </body>

</html>